footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.sidebar-content{
    height: calc(100vh - 155px);
    background-color: #CCCCFF;
}

ul li{
    font-family: Helvetica Nuea;
    font-size: 16px;
    color: #083d8d;
}

.border-radius-10{
    border-radius: 10px;
}


