<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forced Aligner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    <!--  <link rel="stylesheet" type="text/css" href="site.css" />-->
    <link rel="shortcut icon" href="#" />
</head>

<body class="container">
    <header class="mt-3">
        <nav class="border-radius-10 navbar navbar-dark bg-dark box-shadow d-flex justify-content-center">
            <div class="navbar-brand">MULTISIMO Dataset Audio and Transcript Aligner</div>
        </nav>
    </header>
    <div class="row mx-0 my-2">
        <section class="border-radius-10 sidebar-content col-4 p-0">
            <ul class="mt-5">
                <li class="d-none"><!--<a href="#section-resample">-->Step 1: Re-Sample Audio Files<!--</a>--></li>
                <li class="active"><!--<a href="#section-align">-->Step 2: Upload Transcripts and Align<!--</a>--></li>
            </ul>
        </section>
        <section class="file-upload-content col-8 mt-3">
            <div class="alert alert-success" role="alert">
                <span>Phonemes are missing for transcripts. Download the OOV file</span>
            </div>
            <form id="myform" action="{{ url_for('return_OOV_file')}}" method="GET" enctype="multipart/form-data">
                <button id="mylink" type="submit"
                    class="btn btn-primary w-25 font-weight-bold text-light">Download OOV</button>
            </form>
        </section>
    </div>
    <footer class="border-radius-10 container footer bg-dark text-light mb-3">
        <div class="text-center">
            <span>Copyright &copy; Trinity College Dublin</span>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts.js"></script>

</html>